@import '../common/colors';
@import '../common/typography';

.navigation {
  padding: 0 28px;
  background-color: #cc623b;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
}

.logo-image {
  display:inline;
  width:15%;
  background-color: #cc623b;
}

.active {
  color: var(--colorDodgerBlue);
}
